build
build_vs

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
.idea/
*.iml

# eclipse
.settings/
.classpath
.project

# Maven
*/target/**

# shared-objects and DLL'
*.so
*.dll

# Allow test data for examples
!jam-example-app/src/main/resources/example3.zip

# Allow flatbuffers jar file
!jam-example-utility/tool/flatbuffers-java-1.9.0.jar

